<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<header>
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url(assets/20.png);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 90%;
      "
    ><div id="style" style="padding: 10%;">
      <h1 class="display-4" style="font-size:5em;  text-align: center; color: rgb(252, 175, 146)"> <strong>FAVOLOSA PH</strong></h1></div>
      <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>

<div class="container contact-form">

            <div class="contact-image">
                <img src="assets/favolosa.png" alt="rocket_contact"/>
            </div>
            <form method="post">
                <h3>Drop Us a Message</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
            </form>          
</div>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Favolosa is a local brand that is committed to providing superior quality, real value, and affordable jewelry and apparel that will make its muses look more and feel more fabulous.
        </p>
        <h6>Location</h6>
        <p>Pampanga, Philippines</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/front-end-development/">Apparels & More</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">Necklaces</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Earrings</a></li>
            <li><a href="http://scanfcode.com/category/android/">Rings</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Home</a></li>
            <li><a href="http://scanfcode.com/contact/">About Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Products</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Shop Now</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#">FavolosaPH</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
