<header>
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url(assets/16.png);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 90%;
      "
    >    <div style="padding: 10%;">
      <h1 class="display-4" style="font-size:5em;"> <strong>FAVOLOSA PH</strong></h1></div>

      <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>

  <h1 style="text-align: center; padding:5%; text-decoration: underline;"><strong> ABOUT</strong></h1>

  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-md-6"> <img src="assets/pic1.jpg" class="img-responsive" alt="" style="height:75%; width: 100%;"> </div>
        <div class="col-xs-5 col-md-6">
          <div class="about-text" style="margin-top: 10%; margin-left: 5%;">
            <h1 style="text-align: left;padding-top:2%; padding-bottom: 5%;"><strong> Knowing More About Favolosa</strong></h1>
            <p>Favolosa is a local brand that is committed to providing superior quality, real value, and affordable jewelry and apparel that will make its muses look more and feel more fabulous. It was established by Nicole Agsaluna with her friend Jackylene Marzan in the year 2019, in their locality here in Pampanga.</p>
            <h1 style="text-align: left;padding-top:5%; padding-bottom: 5%;"><strong> Products That They Provide</strong></h1>
            <p>One of our best-selling products here in Favolosa was our jewelry. We offer a wide variety of collections from necklaces to ear cuffs, loop earrings, up to princess themed and fashionable rings that our muses can choose from. Here in Favolosa, pieces of jewels from different collections were carefully chosen that will indeed capture our muses’ interest and heart for accessories. 
            </p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div id="more">
    <div class="container">
      <div class="row">
        <div class="col-xs-5 col-md-6">
          <div class="about-text" style="margin-top: 5%; margin-right: 5%;">
            <h1 style="text-align: left; padding-bottom: 5%;"><strong> Dainty Touches</strong></h1>
            <p>We do not just offer our muses good quality products, but rather because of the inclusions and the way we present our goods, indeed we can gives our muses that sense of delight and excitement while opening their products from Favolosa.</p>
            <h1 style="text-align: left;padding-top:5%; padding-bottom: 5%;"><strong> Follow Us!</strong></h1>
            <p>Facebook Account <br>
              https://www.facebook.com/favolosa.ph <br> <br>
              
              Instagram Account <br>
              https://www.instagram.com/favolosa.ph/ <br> <br>
              
              Shopee Account <br>
              https://shopee.ph/favolosa.ph?smtt=0.0.9 <br> <br>
              
              Email: <br>
              favolosaph21@gmail.com <br>
              
              Location: Pampanga, Philippines</p>
        </div>
      </div>
      <div class="col-xs-10 col-md-6"> <img src="assets/pic3.jpg" class="img-responsive" alt="" style="height:80%; width: 100%;"> </div>
    </div>
  </div>
  </div>
    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Favolosa is a local brand that is committed to providing superior quality, real value, and affordable jewelry and apparel that will make its muses look more and feel more fabulous.
          </p>
          <h6>Location</h6>
          <p>Pampanga, Philippines</p>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/front-end-development/">Apparels & More</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Necklaces</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Earrings</a></li>
              <li><a href="http://scanfcode.com/category/android/">Rings</a></li>
            </ul>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">Home</a></li>
              <li><a href="http://scanfcode.com/contact/">About Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Products</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Shop Now</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
         <a href="#">FavolosaPH</a>.
            </p>
          </div>
  
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
  </footer>