
  <main style="background-color: #f9dadf; background-size: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
            <img id="home" src="assets/astronaut.jpg" style="height: 10%; padding-top: 20%;" class="img-fluid" alt="Responsive image">

  </div>
        <div class="col-md-6 align-self-center" style="background-color: #f9dadf;">
        <h1>404</h1>
          <h2>UH OH! You're lost.</h2>
          <p>The page you are looking for does not exist.
            How you got here is a mystery. But you can click on the navigation bar above or click the button below
            to go back to the homepage.
          </p>
          <button class="nav-link active" routerLink="../home" >Click Here</button>
        </div>
      </div>
    </div>
    <footer style="background-color: #f9dadf;">
        <h1 style="color: #f9dadf;">hello</h1>
    </footer>
  </main>