@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

html,
body {
  height: 100%;
  background-color: #f9dadf;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:"Nunito Sans";
  color: var(--blue);
  font-size: 1em;
  
}
button {
  font-family:"Nunito Sans";
color: black;
}
ul {
  list-style-type: none;
  padding-inline-start: 35px;
}
svg {
  width: 100%;
  visibility: hidden;
}
h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight:bold;
}
h2 {
  font-weight:bold;
}