<div id="header" style=" padding: 5%; text-align: center; background-image: url(../assets/1.png); background-repeat: no-repeat; background-size: cover; " class="jumbotron">
    <div style="padding: 10%; background-color:rgba(255, 255, 255, 0.3)">
    <h1 class="display-4" style="font-size:5em;"> <strong>FAVOLOSA PH</strong></h1>
    <p class="lead" style="font-size: 1.5em;">Welcome to Favolosa, your one-of-a-kind accessories and apparel shop here in Pampanga</p>
    <a class="btn btn-primary btn-lg" style="background-color:transparent; border-color: rgb(80, 80, 80); color: rgb(80, 80, 80);" routerLink="../product-details" role="button">Shop Now
    </a></div></div>
  

  <h1 style="text-align: center; padding:2%;"><strong> Our Collections</strong></h1>


  <div style="margin-left:2% ;" class="row">
    <div class="column">
      <div class="card" style="width: 18rem; margin-top: 5%; margin-left: 5%;">
        <img src="../assets/apparels.png" class="card-img-top" alt="...">
      </div>
      <a class="btn btn-primary btn-lg" style="margin: 5%; margin-right: 20%; display: block; background-color:transparent; border-color: rgb(80, 80, 80); color: rgb(80, 80, 80);" routerLink="../product-details" role="button">View Products
    </a>
    </div>
  
    <div class="column">
      <div class="card" style="width: 18rem; margin-top: 5%; margin-left: 5%;">
        <img src="../assets/necklaces.png" class="card-img-top" alt="...">
      </div>
      <a class="btn btn-primary btn-lg" style="margin: 5%; margin-right: 20%; display: block; background-color:transparent; border-color: rgb(80, 80, 80); color: rgb(80, 80, 80);" routerLink="../product-details" role="button">View Products
    </a>
    </div>
    
    <div class="column">
        <div class="card" style="width: 18rem; margin-top: 5%; margin-left: 5%;">
          <img src="../assets/earrings.png" class="card-img-top" alt="...">
        </div>
        <a class="btn btn-primary btn-lg" style="margin: 5%; margin-right: 20%; display: block; background-color:transparent; border-color: rgb(80, 80, 80); color: rgb(80, 80, 80);" routerLink="../product-details" role="button">View Products
      </a>
      </div>
    
      <div class="column">
        <div class="card" style="width: 18rem; margin-top: 5%; margin-left: 5%;">
          <img src="../assets/rings.png" class="card-img-top" alt="...">
        </div>
        <a class="btn btn-primary btn-lg" style="margin: 5%; margin-right: 20%; display: block; background-color:transparent; border-color: rgb(80, 80, 80); color: rgb(80, 80, 80);" routerLink="../product-details" role="button">View Products
      </a>
      </div>
  </div>
<!--Products-->

<h1 style="text-align: center; padding-top:5%; text-decoration: underline;"><strong> PRODUCT OVERVIEW</strong></h1>
<!--NavBAR-->
<nav style="text-align: center; margin-top: 2%; margin-bottom: 3%;" class=" navbar-light bg-white">
  <div class="container" id="object">
    <a class="navbar-brand" href="#1" style="margin-left: 1%;">Apparels & More&ensp;|</a>
    <a class="navbar-brand" href="#2">Necklaces&ensp;|</a>
    <a class="navbar-brand" href="#3">Earrings&ensp;|</a>
    <a class="navbar-brand" href="#4">Rings&ensp;</a>
  </div>
</nav>
<!--NavBar-->

<!-- Gallery -->

<h2 style="text-align:left; margin: 2% 0% 2% 7%;"><strong> APPARELS & MORE</strong></h2>
<div class="row" style="margin:0% 5% 5% 5% ;">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="assets/A1.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="assets/A2.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="assets/A3.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="assets/A4.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img id="1"
      src="assets/A5.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="assets/A6.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
  <h2 style="text-align:left; margin: 2% 0% 2% 0%;"><strong> NECKLACES</strong></h2>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="assets/N1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
      <h2 style="text-align:left; margin: 2% 0% 2% 0%;"><strong> EARRINGS</strong></h2> <br>
      <img
        src="assets/ear1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />

      <h2 style="text-align:left; margin: 2% 0% 2% 0%;"><strong> RINGS</strong></h2> <br>
      <img
        src="assets/R1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
      
        src="assets/N2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

      <img
      style="margin: 18% 0% 2% 0%;"
        src="assets/ear2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />

      <img
      style="margin: 18% 0% 2% 0%;"
        src="assets/R2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>  

    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="assets/N3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

      <img
        style="margin: 18% 0% 2% 0%;"
        src="assets/ear3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />

      <img
      style="margin: 18% 0% 2% 0%;"
        src="assets/R3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
</div>
<!-- Gallery -->


  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Favolosa is a local brand that is committed to providing superior quality, real value, and affordable jewelry and apparel that will make its muses look more and feel more fabulous.
        </p>
        <h6>Location</h6>
        <p>Pampanga, Philippines</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/front-end-development/">Apparels & More</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">Necklaces</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Earrings</a></li>
            <li><a href="http://scanfcode.com/category/android/">Rings</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Home</a></li>
            <li><a href="http://scanfcode.com/contact/">About Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Products</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Shop Now</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#">FavolosaPH</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>